# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
assignment3/interpretation1/2015CSB1021Output2.txt
assignment3/interpretation1/2015CSB1021Output2-chain.txt
assignment3/interpretation1/2015CSB1021Output2-mult-input.txt
assignment3/interpretation1/2015CSB1021Output2-mult-input-chain.txt

assignment3/interpretation1/q1
assignment3/interpretation1/q1-chain
assignment3/interpretation1/q2
assignment3/interpretation1/q2-chain
assignment3/interpretation1/q2-mult-input
assignment3/interpretation1/q2-mult-input-chain

assignment3/interpretation2/2015CSB1021Output2.txt
assignment3/interpretation2/2015CSB1021Output2-chain.txt
assignment3/interpretation2/2015CSB1021Output2-mult-input.txt
assignment3/interpretation2/2015CSB1021Output2-mult-input-chain.txt

assignment3/interpretation2/q1
assignment3/interpretation2/q1-chain
assignment3/interpretation2/q2
assignment3/interpretation2/q2-chain
assignment3/interpretation2/q2-mult-input
assignment3/interpretation2/q2-mult-input-chain
