# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
assignment3/2015CSB1021Output1.txt
assignment3/2015CSB1021Output1-chain.txt
assignment3/2015CSB1021Output1-optimise.txt
assignment3/2015CSB1021Output2.txt
assignment3/2015CSB1021Output2-chain.txt
assignment3/2015CSB1021Output2-optimise.txt
assignment3/q1
assignment3/q1-chain
assignment3/q1-optimise
assignment3/q2
assignment3/q2-chain
assignment3/q2-optimise
